form {
  width: 30%;
  margin: 0 auto;
  height: 100px;
}
.form-top {
  display: flex;
  justify-content: space-between;
}

form input {
  flex: 1;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  padding-left: 15px;
  font-size: 16px;
  padding: 15px 30px;
  outline-color: blue;
}

form button {
  padding: 15px 30px;
  background: blue;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
  margin-left: 15px;
  cursor: pointer;
  border: none;
}

form button:disabled {
  background: lightgrey;
  cursor: default;
}
.main {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.text-item {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  margin: 10px;
  color: blue;
  background-color: lightblue;
  border-radius: 20px;
  font-size: 18px;
}
.text-item button {
  border-radius: 100%;
  color: lightblue;
  background-color: blue;
  margin-left: 5px;
  font-size: 10px;
  border: 3px solid blue;
  cursor: pointer;
  outline: none;
}

.is-error {
  color: red;
}
.no-error {
  color: rgb(11, 187, 11);
}
